.wrapper{
  .bg{
    background: url("../img/sup_bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 0 0 50px 0;
    .section_1{
      margin: 0 0 19px 0;
      .container{
        .content_bg{
          padding: 20px 5px 20px 5px;

          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .left{
            width: 100%;
            margin: 17px 0 30px 0;
            h4{
              color: #899ba4;
              font-size: 18px;
              font-weight: 500;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: left;
              padding: 0 0 0 44px;
            }
            .line{
              background: url("../img/line_2.png");
              background-repeat: no-repeat;
              display: flex;
              justify-content: flex-start;

              margin: 17px 0 35px;

              padding: 20px 0 15px 10px;
              p{
                color: #ffffff;
                font-size: 23px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: 32px;
                text-align: left;
                text-transform: uppercase;
                margin: 6px 0 0px 15px;
                span{
                  color: #ffffff;
                  font-size: 18px;
                  font-weight: 500;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 32px;
                  text-align: left;
                  text-transform: uppercase;
                }
                strong{
                  color: #00cece;
                  font-size: 16px;
                  font-weight: 500;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 32px;
                  text-align: left;
                }
              }
            }
            .tocen{
              display: flex;
              margin: 0 0 48px;
              padding: 0 0px 0 0px;
              justify-content: space-between;
              flex-wrap: wrap;
              p{
                color: #899ba4;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 28px;
                text-align: left;
                span{
                  color: #00cece;
                  font-family: 'Roboto-Bold';
                  font-size: 20px;
                  font-weight: 700;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: normal;
                  display: block;
                }
                strong{
                  display: block;
                  color: #324047;
                  font-size: 20px;
                  font-weight: 400;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: normal;
                }
              }
            }
            .btn_block{
              position: relative;
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;
              margin: 20px 0 10px 0px;
              .btn{
                margin: 5px;
                min-width: 232px;
                &.up{
                  span{
                    position: relative;
                    &:before{
                      content: '\e817';
                      font-family: 'fontello';
                      position: absolute;
                      left: 16px;
                      font-size: 20px;
                      color: #ffffff;
                    }
                  }
                }
                &.wt{
                  span{
                    position: relative;
                    &:before{
                      content: '\e818';
                      font-family: 'fontello';
                      position: absolute;
                      left: 16px;
                      font-size: 20px;
                      color: #324047;
                    }
                  }
                }
              }
            }
          }
          .right{
            width: 100%;
            padding: 20px 0px 0 0px;
            h4{
              color: #899ba4;
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              letter-spacing: normal;
              line-height: normal;
              text-align: left;
            }
            .persent_box{
              margin: 30px 0 0 0;
              .box{
                display: flex;
                justify-content: space-between;
                margin: 0 0 45px 0;

                .title{
                  display: flex;
                  width: 38%;
                  img{
                    align-self: center;
                  }
                  p{
                    font-size: 14px;
                    font-weight: 400;
                    color: #899ba4;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    margin: 6px 0 0 2px;
                    strong{
                      font-size: 14px;
                      color: #00cece;
                      font-family: 'Roboto-Bold';
                      font-weight: 700;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: normal;
                      text-transform: uppercase;
                      margin: 11px 0 0 0;
                      display: block;
                    }
                    span{
                      display: inline;
                    }
                  }
                }
                p{
                  color: #899ba4;
                  font-size: 14px;
                  font-weight: 400;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 28px;
                  text-align: left;
                  span{
                    font-size: 14px;
                    font-style: normal;
                    letter-spacing: normal;
                    color: #324047;
                    font-family: 'Roboto-Bold';
                    font-weight: 700;
                    display: block;
                  }
                }
                .progress{
                  position: relative;
                  display: flex;
                  width: 50%;
                  margin: 0 0 15px;
                  justify-content: space-between;
                  flex-direction: column;
                  p {
                    color: #899ba4;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 24px;
                    text-align: left;
                    margin: 0 0 0px 0;
                    display: flex;
                    justify-content: space-between;
                  }
                  ::-webkit-progress-bar {
                    background: #e9f3f8;
                  }
                  ::-webkit-progress-value {
                    background: #e9f3f8;

                  }
                  ::-moz-progress-bar {
                    background: #e9f3f8;
                  }
                  .progress_box{
                    display: block;
                    background: #e9f3f8;
                    border-radius: 5px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    height: 3px;
                    font-family: sans-serif;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    margin: 8px 0 0 0;
                    &:before{
                      position: absolute;
                      top: 0px;
                      right: -5px;
                      width: 0;
                      height: 100%;
                      content: '';
                      border-top: 3px solid #e9f3f8;
                      border-right: 5px solid transparent;
                    }
                    .value {
                      position: absolute;
                      z-index: 22;
                      top:0;
                      left: 0;
                      height: 100%;
                      max-width: 240px;
                      background-color: #b247d1;
                      &:before{
                        border-top: 3px solid #b247d1;
                        border-right: 5px solid transparent;
                      }
                      &.active{
                        display: inline;
                      }
                    }
                  }
                  span{
                    color: #899ba4;
                    font-size: 16px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 24px;
                    text-align: right;
                    width: 60px;
                    &.active{
                      font-size: 20px;
                      font-weight: 400;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: 24px;
                      text-align: right;
                      color: #ffffff;
                    }
                  }
                }
                &.box2{
                  .title{

                    p{

                      strong{
                        color: #b247d1;
                      }
                    }
                  }
                }
              }
            }
            p{
              color: #899ba4;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              letter-spacing: normal;
              line-height: 20px;
              text-align: left;
              span{
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 20px;
                text-align: left;
                color: #00a3d9;
              }
            }

          }
          .slider{
            width: 100%;

            .slick-arrow {
              &.prev {
                transform: translate(1px, 27%) rotate(90deg);
              }
              &.next {
                transform: translate(-2px, 27%) rotate(270deg);
              }
            }
            .slide{
              display: flex;
              img{
                align-self: center;
                margin: 0 10px 0 0px;
              }
              p{
                color: #adc3ce;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 20px;
                text-align: left;
                strong{
                  display: block;
                  color: #324047;
                  font-size: 14px;
                  font-weight: 400;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 20px;
                  text-align: left;
                }
                span{
                  display: block;
                  color: #adc3ce;
                  font-size: 14px;
                  font-weight: 400;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 20px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
    .section_2{
      .container{
        .content_bg{
          width: 100%;
          margin: 0 auto 0px;
          padding: 20px 5px 20px;
          p{
            strong{
              color: #899ba4;
              font-size: 14px;
              font-weight: 500;
              font-style: normal;
              letter-spacing: normal;
              line-height: 40px;
            }
          }
          .content{
            overflow: auto;
            .top{
              display: flex;
              justify-content: space-between;
              width: 100%;
              p{
                color: #899ba4;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: 40px;
                text-align: left;
              }
              ul{
                display: flex;
                justify-content: space-between;
                li{
                  margin: 0 5px;
                  a{
                    color: #adc3ce;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 40px;
                    text-align: right;
                    &.active{
                      font-size: 14px;
                      font-weight: 400;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: 40px;
                      color: #324047;
                      border-bottom: 1px solid #324047;

                    }
                  }
                }
              }
            }
            .tab_content{
              .tab_item{
                display: none;
                &.active{
                  display: block;
                }
                .content_tab_item{
                  .table_block{
                    width: 1090px;
                    .row{
                      display: flex;
                      justify-content: flex-start;
                      border-bottom: 1px solid rgba(211, 231, 241, 0.5);
                      padding: 15px 0 17px;
                      .col1{
                        width: 22%;
                      }
                      .col2{
                        width: 28%;
                      }
                      .col3{
                        width: 24%;
                      }
                      .col4{
                        width: 18%;
                      }
                      .col5{
                        width: 8%;
                      }
                      &.title{
                        padding: 27px 0 8px;
                        .col{
                          p{
                            font-size: 14px;
                            font-weight: 400;
                            font-style: normal;
                            letter-spacing: normal;
                            text-align: left;
                            color: #adc3ce;
                          }
                          &.col1{
                            p{
                              position: relative;
                              display: inline-block;
                              padding: 0 30px 0 0;
                              span{
                                position: absolute;
                                right: 21px;
                                top: 0px;
                                height: 20px;
                                i{
                                  display: block;
                                  height: 10px;
                                  position: relative;
                                  cursor: pointer;
                                }
                                .icon-ic_17{
                                  &:before{
                                    font-size: 7px;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                  }
                                }
                                .icon-ic_18{
                                  &:before{
                                    font-size: 7px;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                  }
                                }
                              }
                            }

                          }
                          &.col1{
                            p{
                              color: #adc3ce;
                            }
                          }
                          &.col3{
                            p{
                              color: #adc3ce;
                              padding: 0;
                            }
                          }
                          &.col4{
                            p{
                              color: #adc3ce;
                            }
                          }
                        }

                      }

                      .col{
                        p{
                          font-size: 14px;
                          font-weight: 400;
                          font-style: normal;
                          letter-spacing: normal;
                          text-align: left;
                          color: #324047;
                        }
                        &.col1{
                          p{
                            color: #adc3ce;
                          }
                        }
                        &.col3{
                          p{
                            color: #ff3239;
                            position: relative;
                            padding: 0 0 0 40px;
                            i{
                              position: absolute;
                              left: 0;
                              &:before{
                                color: #00cece;
                                font-size: 24px;
                              }
                              &.icon-ic_29{
                                &:before{
                                  font-size: 12px;
                                }
                              }
                            }
                          }
                        }
                        &.col4{
                          p{
                            color: #ff3239;
                          }
                        }
                        &.col5{
                          .Pending{
                            color: #324047;
                            background-color: rgba(173, 195, 206, 0.3);
                            padding: 0 0 0 10px;
                          }
                          .Error{
                            color: #ff3239;
                            background-color: rgba(255, 50, 57, 0.1);
                            padding: 0 0 0 10px;
                          }
                          .Success{
                            color: #00cece;
                            background-color: rgba(0, 206, 206, 0.1);
                            padding: 0 0 0 10px;
                          }
                        }
                      }
                    }
                  }
                  .pagination_block{
                    display: flex;
                    margin: 20px 0 20px;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .pagination{
                      margin: 0;
                    }
                    p{
                      color: #adc3ce;
                      font-size: 14px;
                      font-weight: 400;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: 24px;
                      text-align: left;
                      padding: 8px 0 10px 0;
                    }
                  }
                  h5{
                    color: #adc3ce;
                    font-size: 18px;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 28px;
                    text-align: center;
                    span{
                      font-size: 14px;
                      display: block;
                      color: #adc3ce;
                      font-weight: 500;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: 28px;
                      text-align: center;
                    }
                  }
                }
              }
            }

          }

        }
      }
    }
  }
}
@media (min-width:1280px){
  .wrapper{
    .bg{
      padding: 0 0 93px;
      .section_1{
        margin: 0 0 19px 0;
        .container{
          .content_bg{
            padding: 21px 30px 30px 0px;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .left{
              width: 50%;
              margin: 17px 0 30px 0;
              h4{
                color: #899ba4;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
                padding: 0 0 0 44px;
              }
              .line{
                background: url("../img/line_2.png");
                background-repeat: no-repeat;
                display: flex;
                justify-content: flex-start;

                margin: 17px 0 35px;

                padding: 20px 0 15px 41px;
                p{
                  color: #ffffff;
                  font-size: 32px;
                  font-weight: 500;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 32px;
                  text-align: left;
                  text-transform: uppercase;
                  margin: 6px 0 0px 15px;
                  span{
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 32px;
                    text-align: left;
                    text-transform: uppercase;
                  }
                  strong{
                    color: #00cece;
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 32px;
                    text-align: left;
                  }
                }
              }
              .tocen{
                display: flex;
                justify-content: space-between;
                padding: 0 80px 0 40px;
                margin: 0 0 48px 0;
                p{
                  color: #899ba4;
                  font-size: 14px;
                  font-weight: 400;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 28px;
                  text-align: left;
                  span{
                    color: #00cece;
                    font-family: 'Roboto-Bold';
                    font-size: 20px;
                    font-weight: 700;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    display: block;
                  }
                  strong{
                    display: block;
                    color: #324047;
                    font-size: 20px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                  }
                }
              }
              .btn_block{
                position: relative;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin: 20px 0 86px 50px;
                .btn{
                  margin: 5px;
                  min-width: 232px;
                  &.up{
                    span{
                      position: relative;
                      &:before{
                        content: '\e817';
                        font-family: 'fontello';
                        position: absolute;
                        left: 16px;
                        font-size: 20px;
                        color: #ffffff;
                      }
                    }
                  }
                  &.wt{
                    span{
                      position: relative;
                      &:before{
                        content: '\e818';
                        font-family: 'fontello';
                        position: absolute;
                        left: 16px;
                        font-size: 20px;
                        color: #324047;
                      }
                    }
                  }
                }
              }
            }
            .right{
              width:50%;
              padding: 20px 15px 0 78px;
              h4{
                color: #899ba4;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;
              }
              .persent_box{
                margin: 30px 0 0 0;
                .box{
                  display: flex;
                  justify-content: space-between;
                  margin: 0 0 51px 0;

                  .title{
                    display: flex;
                    width: 38%;
                    img{
                      align-self: center;
                    }
                    p{
                      font-size: 14px;
                      font-weight: 400;
                      color: #899ba4;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: normal;
                      margin: 6px 0 0 15px;
                      strong{
                        font-size: 14px;
                        color: #00cece;
                        font-family: 'Roboto-Bold';
                        font-weight: 700;
                        font-style: normal;
                        letter-spacing: normal;
                        line-height: normal;
                        text-transform: uppercase;
                        margin: 11px 0 0 0;
                        display: block;
                      }
                      span{
                        display: inline;
                      }
                    }
                  }
                  p{
                    color: #899ba4;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 28px;
                    text-align: left;
                    span{
                      font-size: 14px;
                      font-style: normal;
                      letter-spacing: normal;
                      color: #324047;
                      font-family: 'Roboto-Bold';
                      font-weight: 700;
                      display: block;
                    }
                  }
                  .progress{
                    position: relative;
                    display: flex;
                    width: 50%;
                    margin: 0 0 15px;
                    justify-content: space-between;
                    flex-direction: column;
                    p {
                      color: #899ba4;
                      font-size: 14px;
                      font-weight: 400;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: 24px;
                      text-align: left;
                      margin: 0 0 0px 0;
                      display: flex;
                      justify-content: space-between;
                    }
                    ::-webkit-progress-bar {
                      background: #e9f3f8;
                    }
                    ::-webkit-progress-value {
                      background: #e9f3f8;

                    }
                    ::-moz-progress-bar {
                      background: #e9f3f8;
                    }
                    .progress_box{
                      display: block;
                      background: #e9f3f8;
                      border-radius: 5px;
                      -webkit-box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      box-sizing: border-box;
                      height: 3px;
                      font-family: sans-serif;
                      width: 100%;
                      overflow: hidden;
                      position: relative;
                      margin: 8px 0 0 0;
                      &:before{
                        position: absolute;
                        top: 0px;
                        right: -5px;
                        width: 0;
                        height: 100%;
                        content: '';
                        border-top: 3px solid #e9f3f8;
                        border-right: 5px solid transparent;
                      }
                      .value {
                        position: absolute;
                        z-index: 22;
                        top:0;
                        left: 0;
                        height: 100%;
                        max-width: 240px;
                        background-color: #b247d1;
                        &:before{
                          border-top: 3px solid #b247d1;
                          border-right: 5px solid transparent;
                        }
                        &.active{
                          display: inline;
                        }
                      }
                    }
                    span{
                      color: #899ba4;
                      font-size: 16px;
                      font-weight: 400;
                      font-style: normal;
                      letter-spacing: normal;
                      line-height: 24px;
                      text-align: right;
                      width: 60px;
                      &.active{
                        font-size: 20px;
                        font-weight: 400;
                        font-style: normal;
                        letter-spacing: normal;
                        line-height: 24px;
                        text-align: right;
                        color: #ffffff;
                      }
                    }
                  }
                  &.box2{
                    .title{

                      p{

                        strong{
                          color: #b247d1;
                        }
                      }
                    }
                  }
                }
              }
              p{
                color: #899ba4;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: 20px;
                text-align: left;
                span{
                  font-size: 14px;
                  font-weight: 400;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 20px;
                  text-align: left;
                  color: #00a3d9;
                }
              }

            }
            .slider{

              width: 95%;

              margin: 0 auto;
              .slick-arrow{
                &.prev{
                  transform: translate(-19px,-50%) rotate(90deg);
                }
                &.next{
                  transform: translate(19px,-50%) rotate(270deg);
                }
              }
              .slide{
                display: flex;
                img{
                  align-self: center;
                  margin: 0 10px 0 0px;
                }
                p{
                  color: #adc3ce;
                  font-size: 14px;
                  font-weight: 400;
                  font-style: normal;
                  letter-spacing: normal;
                  line-height: 20px;
                  text-align: left;
                  strong{
                    display: block;
                    color: #324047;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 20px;
                    text-align: left;
                  }
                  span{
                    display: block;
                    color: #adc3ce;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: 20px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
      .section_2{
        .container{
          .content_bg{
            width: 87%;
            margin: 0 auto 0px;
            padding: 15px 42px 43px;
            p{
              strong{

              }
            }
            .content{
              .table_block{

              }
              .pagination_block{

              }

            }

          }
        }
      }
    }
  }

}
@media (min-width:1920px){
  .wrapper{
    .bg{
      padding: 0 0 93px;
      .section_2{
        .container{
          .content_bg{
            padding: 10px 42px 26px;
            p{
              strong{

              }
            }
            .content{
              .table_block{

              }
              .pagination_block{
                margin: 38px 0 0px 0;
              }

            }

          }
        }
      }
    }
  }

}