<header class="header_2">
    <div class="container">
        <a href="index.html" class="logo"><img src="img/Logo.png"><span>Advertex</span></a>
        <div class="menu_box">
            <div class="overlay">
                <nav class="overlayMenu">
                    <ul role="menu">
                        <li class="active"><a href="Advertex_Main_4.html">Dashboard</a></li>
                        <li><a href="Advertex_Blog_Open_1">Finance</a></li>
                        <li><a href="Advertex_Opportunities_5">Partners</a></li>
                        <li><a href="Advertex_Partnership_2.html">ADV Shares </a></li>
                        <li><a href="Advertex_Help.html">News</a></li>
                        <li class="sub-menu"><a href="javascript:void(0)"><i class="icon-ic_22"></i> Alexander Smith<i class="icon-ic_15"></i> </a>
                            <ul class="sub animated">
                                <li>
                                    <a href="javascript:void(0)">Support</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Account settings</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="navBurger" role="navigation" id="navToggle"></div>
        </div>
    </div>
</header>


