<footer class="footer_2">
    <div class="container">
        <div class="box">
            <a href="index.html" class="logo"><img src="img/logo_footer.png"></a>
            <h4>Advertex</h4>
        </div>
        <div class="box">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="#anchor" class="down">About us</a></li>
                <li><a href="opportunities.html">Opportunities</a></li>
                <li><a href="trading.html">Ad trading reports</a></li>
                <li><a href="help.html">News</a></li>
                <li><a href="help.html">Help center</a></li>
                <li><a href="help.html">Terms and Conditions</a></li>
            </ul>
            <div class="leng">
                <i class="icon-ic_23"></i>
                <select id="test" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                    <option>English</option>
                    <option>Русский</option>
                    <option>Deutsch</option>
                    <option> Suomi</option>
                </select>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <p>©2020 - Advertex conpany. All right reserved</p>
        </div>
    </div>
</footer>
