<footer class="footer">
    <div class="container">
       <div class="box">
           <a href="index.html" class="logo"><img src="img/logo_footer.png"></a>
           <h4>Advertex</h4>
           <p>
               A digital advertising solution powered by
               artificial intelegence and increased
               user privacy
           </p>
           <ul>
               <li><a href="mail:AdvertexCompany@gmail.com"><i class="icon-mail"></i> AdvertexCompany@gmail.com</a></li>
               <li><a href="tel: +1(234)567-8911"><i class="icon-mobile-1"></i> +1(234)567-8911</a></li>
           </ul>
       </div>
       <div class="box">
         <ul class="menu">
             <li><a href="index.html">Home</a></li>
             <li><a href="#anchor" class="down">About us</a></li>
             <li><a href="opportunities.html">Opportunities</a></li>
             <li><a href="trading.html">Ad trading reports</a></li>
             <li><a href="help.html">Platform news</a></li>
             <li><a href="help.html">Terms and Conditions</a></li>
         </ul>
         <div class="social">
             <a href="#" class="btn_soc"><i class="icon-lock"></i><span>Anti DDos protection</span></a>
             <ul>
                 <li><a href="#"><i class="icon-facebook-rect"></i></a></li>
                 <li><a href="#"><i class="icon-youtube"></i></a></li>
                 <li><a href="#"><i class="icon-paper-plane"></i></a></li>
                 <li><a href="#"><i class="icon-twitter-bird"></i></a></li>
             </ul>
         </div>
     </div>
    </div>
    <div class="bottom">
        <div class="container">
            <p>©2020 - Advertex conpany. All right reserved</p>
        </div>
    </div>
</footer>