<header class="header">
    <div class="container">
        <a href="index.html" class="logo"><img src="img/Logo.png"><span>Advertex</span></a>
        <div class="menu_box">
            <div class="overlay">
                <nav class="overlayMenu">
                    <ul role="menu">
                        <li class="active"><a href="Advertex_Main_4.html">Home</a></li>
                        <li><a href="Advertex_Blog_Open_1">About us</a></li>
                        <li><a href="Advertex_Opportunities_5">Opportunities</a></li>
                        <li><a href="Advertex_Partnership_2.html">Partnership</a></li>
                        <li class="sub-menu"><a href="javascript:void(0)">Blog<i class="icon-row"></i> </a>
                        <ul class="sub animated">
                            <li>
                                <a href="javascript:void(0)">Ad trading reports</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Platform news </a>
                            </li>
                        </ul>
                        </li>
                        <li><a href="Advertex_Help.html">Help center</a></li>
                    </ul>
                    <div class="btn_block">
                        <a href="#"class="btn in open_login"><span>Sign in</span></a>
                        <a href="#"class="btn up open_registration"><span>Sign Up</span></a>
                    </div>
                </nav>
            </div>
            <div class="navBurger" role="navigation" id="navToggle"></div>
            <div class="btn_block">
                <a href="#"class="btn in open_login"><span>Sign in</span></a>
                <a href="#"class="btn up open_registration"><span>Sign Up</span></a>
            </div>
        </div>
    </div>
</header>
