<div class="overlay-login loginPopup animated ">
    <div class="close"></div>
    <div class="login__popup ">
        <div class="content">
            <img src="img/logo.png">
            <p>
                Welcome to
                <strong>Advertex</strong>
            </p>
            <form>
                <div class="input_box">
                    <div class="input" tabindex="0">
                        <i class="icon-ic_1"></i>
                        <span><input type="text" required class="pp-form"></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Username</label>
                    </div>
                </div>
                <div class="input_box">
                    <div class="input" tabindex="0">
                        <i class="icon-ic_2"></i>
                        <span><input type="text" required class="pp-form"></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Password</label>
                    </div>
                </div>
                <a href="#" class="links">Forgot password?</a>
                <button class="btn up"><span>Login</span></button>
                <p>Don't have an account yet? <a href="#">Register now</a></p>
            </form>
        </div>
    </div>
</div>

<div class="overlay-password passwordPopup animated ">
    <div class="close"></div>
    <div class="password__popup ">
        <div class="content">
            <img src="img/logo.png">
            <p>
                <strong>Password recovery</strong>
            </p>
            <form>
                <div class="input_box">
                    <div class="input" tabindex="0">
                        <i class="icon-ic_1"></i>
                        <span><input type="text" required class="pp-form"></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Username</label>
                    </div>
                </div>
                <button class="btn up"><span>Send reset link</span></button>
                <p>Don't have an account yet? <a href="#">Register now</a></p>
            </form>
        </div>
    </div>
</div>

<div class="overlay-valid validPopup animated ">
    <div class="close"></div>
    <div class="valid__popup ">
        <div class="content">
            <img src="img/ic_4.png">
            <p>
                Your password has been
                successfully changed
            </p>
            <a href="#" class="btn up"><span>Back to login form</span></a>
        </div>
    </div>
</div>

<div class="overlay-registration registrationPopup animated ">
    <div class="close"></div>
    <div class="registration__popup ">
        <div class="content">
            <img src="img/logo.png">
            <p>
                <strong>Advertex</strong>Create an account
            </p>
            <form>
                <div class="input_box">
                    <div class="input" tabindex="0">
                        <i class="icon-ic_1"></i>
                        <span><input type="text" required class="pp-form"></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Username</label>
                    </div>
                </div>
                <div class="input_box">
                    <div class="input" tabindex="0">
                        <i class="icon-mail"></i>
                        <span><input type="text" required class="pp-form"></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Email</label>
                    </div>
                </div>
                <div class="input_box">
                    <div class="input" tabindex="0">
                        <i class="icon-ic_2"></i>
                        <span><input type="text" required class="pp-form"></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Password</label>
                    </div>
                </div>
                <div class="input_box">
                    <div class="input" tabindex="0">
                        <i class="icon-ic_2"></i>
                        <span><input type="text" required class="pp-form"></span>
                        <code class="highlight"></code>
                        <code class="bar"></code>
                        <label>Retipe password</label>
                    </div>
                </div>
                <div class="input">
                    <input id="check2" type="checkbox" name="check" value="check2">
                    <label for="check2" class="lab">Agree with terms and conditions</label>
                </div>
                <button class="btn up"><span>Login</span></button>
                <p>Don't have an account yet? <a href="#">Register now</a></p>
            </form>
        </div>
    </div>
</div>

<div class="overlay-valid2 valid2Popup animated ">
    <div class="close"></div>
    <div class="valid2__popup ">
        <div class="content">
            <img src="img/ic_10.png">
            <p>
                Create an Account
                <span>
                    A confirmation email was sent to your inbox
                </span>
            </p>
            <a href="#" class="btn up"><span>Back to login form</span></a>
        </div>
    </div>
</div>

<div class="overlay-eror erorPopup animated ">
    <div class="close"></div>
    <div class="eror__popup ">
        <div class="content">
            <img src="img/pop1.png">
            <h4>Success message</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.
            </p>
            <a href="#" class="btn wt"><span>Close</span></a>
        </div>
    </div>
</div>

<div class="overlay-eror2 eror2Popup animated ">
    <div class="close"></div>
    <div class="eror2__popup ">
        <div class="content">
            <img src="img/pop2.png">
            <h4>Success message</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.
            </p>
            <a href="#" class="btn wt"><span>Close</span></a>
        </div>
    </div>
</div>

<div class="overlay-eror3 eror3Popup animated ">
    <div class="close"></div>
    <div class="eror3__popup ">
        <div class="content">
            <img src="img/pop3.png">
            <h4>Success message</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.
            </p>
            <a href="#" class="btn wt"><span>Close</span></a>
        </div>
    </div>
</div>

<div class="overlay-eror4 eror4Popup animated ">
    <div class="close"></div>
    <div class="eror4__popup ">
        <div class="content">
            <img src="img/pop4.png">
            <h4>Success message</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.
            </p>
            <a href="#" class="btn wt"><span>Close</span></a>
        </div>
    </div>
</div>